<ul class="navbar-nav me-auto mb-2 mb-md-0">
  <ng-content select="[backToBottom]"></ng-content>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} routerLink="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/concepts">Concepts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/about">About</a>
  </li>
  <li class="nav-item redText">
    <a class="nav-link" routerLinkActive="active" routerLink="/employees">Employee Management App</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/unit-testing">Unit Testing</a>
  </li>
  <ng-content select="[menuComp]"></ng-content>
</ul>
