<div class="container">
  <h1>unit testing demo</h1>
  <app-counter></app-counter>

  <hr />
  <div data-testid="highlightWrapper" appHighlight="skyblue">
    <h1>Testing Directive</h1>
  </div>

  <hr />
  <div data-testid="highlightWrapper" appHighlight="grey">
    <h1>Testing Directive</h1>
  </div>

  <hr />
  <h1>{{ featureName }}</h1>

  <hr />
  <div data-testid="highlightWrapper" appHighlight="yellow">
    <h1>Testing Directive</h1>
  </div>

  <div>
    <!-- <p id="para1" appHighlight="orange">highligh directive paragraph</p> -->
  </div>
</div>
